# Deprecated, Please use devbox

version: '2'
services:
  gryu:
    image: $GRYU_IMAGE
    build:
      context: .
      dockerfile: ./Dockerfile
    # entrypoint: [python, manage.py]
    # command: [runserver, '--host', '0.0.0.0', '--port', '80'] 
    entrypoint: [sh]
    volumes:
      - .:/src
    tty: true
    ports:
      - "$GRYU_API_PORT:80"
    env_file:
      - envs/local.env
      - envs/secrets.env
    environment:
      - ENV="development"
      # - HTTP_PROXY="http://192.168.199.121:1087"
      - DB_HOST=192.168.199.121
      - DB_USER=knarfeh
      - HLGD_ENDPOINT=http://192.168.199.121:18089
  db:
    image: $POSTGRES_IMAGE
    ports:
      - "5432:5432"
    env_file:
      - envs/local.env
      - envs/secrets.env
    volumes:
      - ./container-data/postgresql:/var/lib/postgresql
