# Deprecated, Please use devbox

version: '2'
services:
  api:
    image: $GRYU_IMAGE
    build:
      context: .
      dockerfile: ./Dockerfile
    # entrypoint: [python, manage.py]
    # command: [runserver, '--host', '0.0.0.0', '--port', '80'] 
    entrypoint: [sh]
    volumes:
      - .:/src
    depends_on:
      - db
    tty: true
    ports:
      - "$GRYU_API_PORT:80"
    env_file:
      - envs/local.env
    environment:
      - ENV="development"
  db:
    image: $POSTGRES_IMAGE
    ports:
      - "5432"
    env_file:
      - envs/local.env
